{% template alert_list %}
<div
  class="layout layout--left layout--top layout--col"
  data-list-limit="true"
  data-list-max-height="{{ max_height }}"
  data-list-hidden-count="true"
  data-list-max-columns="1">
  {% if data and data.size > 0 %}
  {% for alert in data %}
  <div class="item">
    <div class="meta"></div>
    <div class="content" data-content-limiter="true">
      <div class="flex flex--row">
        <span class="title title--small" data-pixel-perfect="true">{{ alert.attributes.service_effect }}</span>
        <span class="label label--small label--underline" data-pixel-perfect="true">{{ alert.attributes.timeframe }}</span>
      </div>
      <span class="description clamp--3" data-pixel-perfect="true">{{ alert.attributes.header }} (updated: {{ alert.attributes.updated_at | date: "%b %-d, %-I:%M%P" }}).</span>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div  class="title" data-pixel-perfect="true">No current alerts.</div>
  {% endif %}
</div>
{% endtemplate %}

{% template title_bar %}
<div class="title_bar">
  <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/6/64/MBTA.svg">
  <span class="title">{{ plugin_name }}</span>
</div>
{% endtemplate %}